<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <!--<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>-->
    </sectionGroup>
  </configSections>

  <spring>
    <context>
      <resource uri="Configs/Immutable.xml" />
      <resource uri="Configs/DAL.xml" />
      <resource uri="Configs/BLL.xml" />
      <resource uri="Configs/Presentation.xml" />
    </context>
  </spring>

  <!--<spring xmlns="http://www.springframework.net">
    <context name="KnowledgeTester" >
      <resource uri="config://spring/objects"/>
    </context>
    <objects>
      <object name="appConfigPropertyHolder"
          type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core">
        <property name="configSections">
          <value>data-configuration,report-configuration,filters-configuration,mail-configuration</value>
        </property>
      </object>

      --><!--DAO's--><!--
      <object id="Repository" type="KnowlageTester.JsonDAL.Repository, KnowlageTester.JsonDAL" abstract="true" />
      <object id="UsersRepository" type="KnowlageTester.JsonDAL.UsersRepository, KnowlageTester.JsonDAL" singleton="true" parent="Repository" />
      <object id="TestsRepository" type="KnowlageTester.JsonDAL.TestsRepository, KnowlageTester.JsonDAL" singleton="true" parent="Repository" />

      --><!--Blo's--><!--
      <object id="UserService" type="KnowledgeTester.BLL.UserService, KnowledgeTester.BLL" singleton="true" autowire="constructor" />

      --><!--MainWindow--><!--

      <object id="MainWindow" type="KnowledgeTester.MainWindow, KnowledgeTester" singleton="true"  autowire="constructor" init-method="Init">
        <property name="UserService" ref="UserService" />
      </object>

    </objects>
  </spring>-->


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="RepositoryPath" value="Data\"/>
    <add key="UsersCollectionFolder" value="Users\"/>
    <add key="TestsCollectionFolder" value="Tests\"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>